@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-family: Roboto, Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: #191919
}

body section {
    border-bottom: 1px solid #E3E5E7;
}

.header-container .buttons li.extra {
    display: none;
}

header,
.stay-curious {
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    overflow: hidden;
}


header {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    /* Opzione per il cambio colore della nav ma fa un brutto effetto al refresh della pagina */
    /* transition: background-color 0.3s linear; */
    z-index: 99;
}

.nav-color-animation {
    /* background-color: #fff; */
    animation: nav-bar-animation 1s forwards;
}

.nav-back-yellow-animation {
    animation: nav-back-yellow-animation 1s forwards;
}

.nav-btn-green-animation{
    animation: nav-btn-green-animation 1s forwards;
}

.nav-btn-black-animation{
    animation: nav-btn-black-animation 1s forwards;

}

.stay-curious {
    padding: 4em 0;
}

.header-container,
.buttons,
.section-title,
.article,
.author,
.trending-on-medium article .article-details,
.tag-container ul,
.pseudo-footer ul,
.article-details,
.articles-container article,
.articles-container article .image-content {
    display: flex;
    flex-direction: row;
}

.header-container,
.article-container,
.trending-container,
.aside-container,
.articles-container {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
}

.buttons {
    flex-grow: 1;
    list-style-type: none;
    justify-content: end;
    gap: 1.5em;
}

.sign-in a,
.btn {
    text-decoration: none;
}

.btn {
    background-color: #191919;
    color: white;
    padding: 10px 1em;
    border-radius: 20px;
    width: fit-content;
}

.stay-curious svg {
    display: none;
}

.article-container,
.stay-curious article {
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    padding: 4em 0;
}

.stay-curious article h1 {
    font-family: Spectral, serif;
    font-size: 3.5em;
}

.stay-curious article h2 {
    font-size: 1.2em;
}

.section-title {
    align-items: center;
    gap: 0.8em;
}

.section-title>* {
    display: inline-block;
}


.section-title h2 {
    font-size: 0.8em;
}

.articles-container,
.trending-on-medium article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.article-container {
    padding: 0;
}

.article,
.article-details,
.articles-container article {
    gap: 1em;
}

.trending-on-medium article .article-details {
    justify-content: space-between;
}

.article-counter h4 {
    color: #E3E5E7;
    font-size: 2em;
    font-weight: 800;
}

.author img {
    border-radius: 50%;
    width: 1.5em;
}

.author {
    gap: 0.5em;
    align-items: center;
}

.author h4 {
    font-size: 0.8em;
}

.article-container .article-details p,
.tag-container li,
.pseudo-footer ul li a {
    color: #747474;
}

.thin-font {
    font-weight: 300;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

.tag-container li {
    padding: 1em;
    border: 1px solid #747474;
    width: fit-content;
}

.tag-container ul,
.pseudo-footer ul {
    flex-wrap: wrap;
    gap: 1em;
}

.pseudo-footer {
    margin-top: 2em;
}

.article-details .save {
    flex-grow: 1;
    display: flex;
    justify-content: right;
}

.tag {
    background-color: #E3E5E7;
    border-radius: 20px;
    padding: 1px 5px;
}

.article-details {
    align-items: center;
}

.articles-container article .text-content h4~*,
.articles-container article .text-content .article-details * {
    color: #747474;
}


.articles-container article .text-content {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    justify-content: space-between;
    flex: 2;
}

.articles-container article .image-content img {
    display: block;
    max-width: 100%;
}

.articles-container article .image-content {
    align-items: center;
    flex: 1;
}


@media screen and (min-width: 576px) {
    * {
        font-size: 1em;
    }

    .header-container .buttons li.extra {
        display: block;
    }

    .header-container .buttons a {
        font-size: 0.8em;
    }

    .stay-curious .article-container {
        display: flex;
        flex-direction: row;
    }

    .stay-curious .article-container article {
        flex: 2;
    }

    .stay-curious .article-container svg {
        display: block;
        position: absolute;
        width: 200% !important;
    }

    .stay-curious .article-container .svg-container {
        position: relative;
        flex: 1;
    }

    .trending-on-medium .article-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .trending-on-medium .article-container .article {
        width: 46%;
    }

}

@media screen and (min-width:768px) {
    .trending-on-medium .article-container .article {
        width: 29%;
    }

    .aside-and-articles {
        display: flex;
        flex-direction: row-reverse;
        gap: 1em;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .aside-and-articles .aside-container {
        flex: 1;
    }

    .aside-and-articles .articles-container {
        flex: 2;
    }
}